################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Debug
/iup/lib
/iup/obj
/src
/SciTE.VC.VC.opendb
/SciTE.VC.db
/SciTE.sdf
/Release
/Obj/RadiusServer_Dlg_Debug
/lualib
