







################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Debug/abbrev
/Debug
/iup/lib/Debug/iupweb.lib
/iup/lib/Debug/iupole.lib
/iup/lib/Debug/iupcore.lib
/iup/lib/Debug/iupcontrols.lib
/iup/lib/Debug/iup.lib
/iup/obj/Debug
/iup/lib/Debug/Lua51
/iup/obj/Release
/iup/lib/Release
/lualib/hunspell/src/win_api/Debug
/lualib/hunspell/src/win_api/Release
/lualib/lpeg/Debug
/lualib/lpeg/Release/lpeg.tlog
/lualib/luacom/mak.vs2005/Debug
/lualib/luacom/mak.vs2005/Release
/lualib/luahunspell/Debug
/lualib/luahunspell/Release/luahunspell.tlog
/lualib/luaxml/LuaXml/Debug
/lualib/luaxml/LuaXml/Release/LuaXml.tlog
/lualib/mblua/Debug
/lualib/mblua/Release
/lualib/shell/(Configuration)/shell.tlog
/lualib/shell/(Configuration)
/Release
/src/scintilla/Debug/vc140.idb
/src/scintilla/Debug/ScintRes.res
/src/scintilla/Debug/SciLexer.tlog/SciLexer.write.1u.tlog
/src/scintilla/Debug/SciLexer.tlog/SciLexer.lastbuildstate
/src/scintilla/Debug/SciLexer.tlog/rc.write.1.tlog
/src/scintilla/Debug/SciLexer.tlog/rc.read.1.tlog
/src/scintilla/Debug/SciLexer.tlog/rc.command.1.tlog
/src/scintilla/Debug/SciLexer.tlog/link.write.1.tlog
/src/scintilla/Debug/SciLexer.tlog/link.read.1.tlog
/src/scintilla/Debug/SciLexer.tlog/link.command.1.tlog
/src/scintilla/Debug/SciLexer.tlog/CL.write.1.tlog
/src/scintilla/Debug/SciLexer.tlog/CL.read.1.tlog
/src/scintilla/Debug/SciLexer.tlog/CL.command.1.tlog
/lualib/shell/shell.lib
/lualib/shell/shell.exp
/lualib/shell/shell.bsc
/src/scintilla/Release/SciLexer.tlog
*.tlog
*.idb
/src/scite/Release/lua.lib
/SciTE.VC.db
/SciTE.VC.VC.opendb
/src/scite/Debug/HildiM_manifest.rc
/src/scite/Debug/HildiM.exe.embed.manifest
/src/scite/Debug/HildiM.exe.embed.manifest.res
*.ipch
*.lastbuildstate
*.sdf
/src/scite/Debug/lua.lib
/src/scite/Debug/SciTERes.res
/src/scite/Debug
/iup/src/gtk
/iup/src/mot
/iup/src/haiku
/.vs/SciTE/v15
/lualib/luacom/src/library/luacom5.lh
/lualib/luacom/src/library/luacom5.loh
/src/scintilla/Release
/src/scintilla/Release
/src/scintilla/Release/ScintRes.res
/src/scite/Release
/src/scite/lua/.vs/lua/v15
/iup/lib/Debug/Lua53
